.header-container {
  background-color: #dbeafe;
  padding: 10px;
  display: flex;
  align-items: center;
}
.header-name {
  font-family: Bree Serif;
  font-size: 30px;
  font-weight: 500;
  margin-left: 15px;
}
.logo-size-image {
  height: 50px;
  width: 70px;
}
